<!-- Home -->
<div class="page-content">
    <div class="row h-33">
        <div class="col">
            <div>
                <h1 class="display-1">ABOUT</h1>
                <h1 class="display-1">US</h1>
            </div>
        </div>
        <div class="col">
            <p class="description">
                We are a team of adventurers who have a passion for exploring the unexplored.
                We wanted to share the untold secrets and best places to visit, and so we created
                Travel Helper; your guide for exploration. Our team is made up of experienced travellers from 
                across the globe, with a passion for sharing their most favourite destinations. Have a chat with
                any of the team today to discover your next adventure!
            </p>
        </div>
    </div>
    <div class="row text-center" id="meet-title">
        <h1 class="display-5">Get to know the team</h1>
    </div>
    <div class="row text-center" id="team-section"></div>
</div>
