<!-- Contact Us Form -->
<!-- Home -->
<div class="page-content">
    <div class="row h-33">
        <div class="col">
            <div>
                <h1 class="display-1">CONTACT</h1>
                <h1 class="display-1">US</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="flex_center contact-form">
            <div class="mb-3">
                <label for="contact-name" class="form-label">Name</label>
                <input type="email" class="form-control" id="contact-name" placeholder="John Doe">
            </div>
            <div class="mb-3">
                <label for="contact-email" class="form-label">Email</label>
                <input type="email" class="form-control" id="contact-email" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="contact-message" class="form-label">Message</label>
                <textarea class="form-control" id="contact-message" rows="3" placeholder="Leave us a message here"></textarea>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-outline-success mb-3" id="submit-alert-button">Submit</button>
                <div id="submit-alert"></div>
            </div>
        </div>
    </div>
</div>


