<!-- Home -->
<div class="page-content">
    <div class="row">
        <div class="col">
            <div>
                <h1 class="display-1">EXPLORE</h1>
                <h1 class="display-1">NEW</h1>
                <h1 class="display-1">DESTINATIONS</h1>
            </div>
            <p style="text-align:justify">
                Come and explore new destinations with us! We have so many places for you to explore.
                Whether you are looking for cocktails on the
                <span id="beach"
                      data-bs-toggle="popover"
                      data-bs-placement="top"
                      data-bs-html="true"
                      data-bs-content="Show me beaches!" class="keyword">
                    beach
                </span>, getting in some

                <span data-bs-toggle="popover"
                      data-bs-placement="top"
                      data-bs-html="true"
                      data-bs-content="Show me temples!"
                      class="keyword" id="culture">
                    culture
                </span>, or to
                explore a whole new

                <span data-bs-toggle="popover"
                      data-bs-placement="top"
                      data-bs-html="true"
                      data-bs-content="Show me cities!"
                      class="keyword"
                      id="country">
                    country
                </span>, we have the place for you.
            </p>
        </div>
        <div class="col" id="home-col-right">
            <div id="recommendations">
                <h1 class="display-6" id="recommend_title"><em>We recommend...</em></h1>
                <div class="accordion" id="recommend_list">
                    <div class="accordion-item">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
